/*making everything center*/
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: blueviolet;

}

/*making input and button center*/

.container {
    display: flex;
}


/*button styling*/
.container button {
    width: 50px;
    height: 30px;
    margin: 7px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

/*styling input */

.container input {
margin: 5px;
padding: 7px;
}


/*styling lists that we are entering */
ul {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: inherit;

}


/*styling delete buttons */
ul button {
    margin-top: 20px;
    width: 50px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}
